/* styles.css */
.form-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.form-container input,
.form-container button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ebe9e9;
  border-radius: 5px;
}

.form-container button {
  background-color: #1270d4;
  color: rgb(48, 12, 148);
  border: none;
}
